DB_HOST=localhost
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD?
DB_NAME=DB_NAME

MQTT_URL=mqtts://d1d3bb1af2324fe8893ca5b4d8ff18c3.s1.eu.hivemq.cloud:8883
MQTT_USERNAME=aquaponic
MQTT_PASSWORD=Aquaponic1
MQTT_TOPIC=aquaponic/device/data

API_URL=https://127.0.0.1:8000/api/sensor-alert

SENSOR_ALERT_SECRET=197b8df18e58491cbc422709d7eb315f
SENSOR_ALERT_URL=http://127.0.0.1:8000/api/sensor-alert

FONTE_TOKEN=EFAt7UpAcLHe3Xyp2Pjh